<!DOCTYPE html>
<html>
  <head>
    <title>SongList</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Application.html.erb Template in Layouts</h1>
    <ul>
      <li><%= link_to "List Artists", artists_list_path %> </li>
      <li><%= link_to "Song List", song_list_path %> </li>
      <li><%= link_to "Create a Song", new_song_path %> </li>
      <li><%= link_to "Create an Artist", new_artist_path %> </li>
      <li>link_to "Edit an Artist", artist_path(:artist_id) = links to update action</li>
    </ul>
    <div class= "below_yield"><%= yield %></div>
  </body>
</html>
